@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*Equivalent to 10px*/
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  overflow-x: hidden;
  background-color: #292828;
}

.header {
  width: 100vw;
  height: 8rem;
  background-color: rgb(38, 92, 124);
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.2rem 0.2rem 1rem black;
  overflow: hidden;
  z-index: 100;
}
.header .header_logo {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header_logo .header_logo_img {
  width: 60%;
  height: 70%;
}
.header .header_name {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header_name h1 {
  letter-spacing: 0.5rem;
  font-size: 2.3rem;
  text-shadow: 0.2rem 0.2rem 0.2rem black;
}
.header .header_user {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header_user p {
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem 0.2rem black;
}

.side_menu {
  width: 13vw;
  height: 100vh;
  background-color: #686c6e;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.side_menu .side_menu_search {
  width: 80%;
  height: auto;
  margin: 15rem 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}
.side_menu .side_menu_search label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.side_menu .side_menu_search label p {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.side_menu .side_menu_search input {
  width: 100%;
  height: 3rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.6392156863);
}
.side_menu .side_ul {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.side_menu .side_ul .side_li {
  width: 100%;
  height: auto;
  position: relative;
  list-style-type: none;
  cursor: pointer;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}
.side_menu .side_ul .side_li:not(:last-child):after {
  content: "";
  width: 70%;
  height: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-bottom: 0.15rem dotted #fff;
}
.side_menu .side_ul .side_li .side_li_items {
  padding: 3rem;
  letter-spacing: 0.2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.531);
}
.side_menu .side_ul .side_li .side_li_items:hover {
  color: #000;
}
.side_menu .side_ul .side_li:hover {
  background-color: #a6adb1;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.6);
}
.side_menu .side_ul .side_li:hover::after {
  border-bottom: none;
}

.main_screen {
  width: 87vw;
  height: 100vh;
  position: relative;
  position: absolute;
  top: calc(0% + 8rem);
  left: 0;
}
.main_screen .showList {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}
.main_screen .hideList {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.drivers_dashboard {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.drivers_dashboard .drivers_ul {
  width: 100%;
  height: auto;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.drivers_dashboard .drivers_li {
  width: 80%;
  height: 7rem;
  margin-bottom: 1.5rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a6adb1;
}
.drivers_dashboard .drivers_li .drivers_li_items {
  padding: 1rem 2rem;
  font-size: 2rem;
  color: #000;
  font-weight: bold;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.525);
}
.drivers_dashboard .drivers_li .drivers_li_status {
  color: green;
  font-size: 2.2rem;
}
.drivers_dashboard .drivers_li .drivers_li_edit {
  color: #fff;
  background-color: rgb(38, 92, 124);
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  cursor: pointer;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.6);
}
.drivers_dashboard .drivers_li .drivers_li_edit:hover {
  background-color: #686c6e;
  transform: translateY(-9%);
  -webkit-transform: translateY(-9%);
  -moz-transform: translateY(-9%);
  -ms-transform: translateY(-9%);
  -o-transform: translateY(-9%);
  box-shadow: 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.6);
}

.imports_dashboard {
  width: 100%;
  height: 200rem;
  padding: 0 4rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  background-color: #292828;
}
.imports_dashboard h1 {
  font-size: 3rem;
  margin: 2rem 0 3rem;
}

.exports_dashboard {
  width: 100%;
  height: 200rem;
  padding: 0 4rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  background-color: #292828;
}
.exports_dashboard h1 {
  font-size: 3rem;
  margin: 2rem 0 3rem;
}

.exports_dashboard {
  width: 100%;
  height: 200rem;
  padding: 0 4rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  background-color: #292828;
}
.exports_dashboard h1 {
  font-size: 3rem;
  margin: 2rem 0 3rem;
}

.cards {
  width: 28rem;
  height: 65rem;
  position: relative;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  color: #000;
  background-color: rgb(223, 208, 208);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.acresYard {
  position: relative;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.acresYard::after {
  content: "A";
  width: 5rem;
  height: 5rem;
  position: absolute;
  bottom: 99%;
  left: 0;
  font-size: 3rem;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  background-color: rgb(5, 94, 5);
  z-index: -1;
}

.rails_dashboard {
  width: 100%;
  height: 200rem;
  padding: 0 4rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  background-color: #292828;
}
.rails_dashboard h1 {
  font-size: 3rem;
  margin: 2rem 0 3rem;
}

.drops_dashboard {
  width: 100%;
  height: 200rem;
  padding: 0 4rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  background-color: #292828;
}
.drops_dashboard h1 {
  font-size: 3rem;
  margin: 2rem 0 3rem;
}

.yards_dashboard {
  width: 100%;
  height: 200rem;
  padding: 0 4rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  background-color: #292828;
}
.yards_dashboard h1 {
  font-size: 3rem;
  margin: 2rem 0 3rem;
}

/*# sourceMappingURL=styles.css.map */
