.side_menu {
  width: 13vw;
  height: 100vh;
  background-color: $secondary-color;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 50;

  .side_menu_search {
    width: 80%;
    height: auto;
    margin: 15rem 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;

    label {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      p {
        font-size: 2rem;
        letter-spacing: 0.2rem;
      }
    }

    input {
      width: 100%;
      height: 3rem;
      box-shadow: 0.2rem 0.2rem 0.5rem #000000a3;
    }
  }

  .side_ul {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // border: 1px solid red;

    .side_li {
      width: 100%;
      height: auto;
      position: relative;
      list-style-type: none;
      cursor: pointer;
      @include transit2;

      &:not(:last-child):after {
        content: "";
        width: 70%;
        height: 1rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        @include transformX;
        border-bottom: 0.15rem dotted #fff;
      }

      .side_li_items {
        padding: 3rem;
        letter-spacing: 0.2rem;
        font-family: $secondary-font;
        font-size: 2.2rem;
        text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.531);

        &:hover {
          color: #000;
        }
      }

      &:hover {
        background-color: $tertiary-color;
        box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.6);
      }

      &:hover::after {
        border-bottom: none;
      }
    }
  }
}
