.cards {
  width: 28rem;
  height: 65rem;
  position: relative;
  @include transit3;
  color: #000;
  font-weight: bold;
  background-color: rgb(223, 208, 208);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;

  .card_mainTop {
    width: 100%;
    height: 8rem;
    font-size: 1.5rem;
    @include flex-center;
    border-bottom: 1px solid #000;

    .dispatch_top {
      width: calc(100% / 3);
      height: 100%;
      @include flex-center-col;
    }

    .dispatchNumber {
      position: relative;
      font-size: 3.2rem;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
    }
  }

  .card_mainMid {
    width: 100%;
    height: 8rem;
    @include flex-center;
    border-bottom: 1px solid #000;

    .dispatchSize {
      width: 25%;
      height: 100%;
      font-size: 2rem;
      @include flex-center;
      border-right: 1px solid #000;
    }

    .dispatchBoxChasInfo {
      width: 75%;
      height: 100%;
      font-size: 2rem;
      @include flex-center-col;

      .dispatchEquip {
        width: 100%;
        height: calc(100% / 2);
        @include flex-center;
      }

      .dispatchEquip:nth-child(1) {
        border-bottom: 1px solid #000;
      }
    }
  }
}

// .acresYard {
//   position: relative;
//   @include transit3;

//   &::after {
//     content: "A";
//     width: 5rem;
//     height: 5rem;
//     position: absolute;
//     bottom: 99%;
//     left: 0;
//     font-size: 3rem;
//     @include transit3;
//     background-color: rgb(5, 94, 5);
//     z-index: -1;
//   }
// }
